{% extends "testapp/base.html" %}
{% block content %}
<section class="section-1">
  <h2>WELCOME To JALA ACADEMY</h2>
  <h3>The world's best up-skilling academy</h3>
  <div>
    <p>Do you want to learn Selenium/cucumber Automation completely with Practical Scenarios in 7 Days? Use this website to find all the scenarios at one place.

To understand or test RESTful APIs, use the JALA Academy FREE live APIs. Seach on Google with the keyword "JALA Academy Postman APIs"</p>
  </div>
  <div class="box1">
    You learn Everything by doing projects if you are very serious to gat a software job in 90 days <a href="http://jalatechnologies.com
    ">http://jalatechnologies.com</a> 
Don't forget to read our website JALA Academy completley to know more opportunities

  </div>

  <div class="box2">
    <span>If you are a working professional, Up-skill with JALA Academy Job Guarantee Programs to keep your Job secure for 10 Years</span>
  </div>
  
</section>


{% endblock content %}





