{% extends "testapp/base.html" %}
{% block content %}
<section>
  <h1>List Of Employees</h1>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Mobile No</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Birth date</th>
          <th>Country</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in employee_list %}
        <tr>
          <td>{{ emp.first_name }}</td>
          <td>{{ emp.last_name }}</td>
          <td>{{ emp.mobile }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.gender }}</td>
          <td>{{ emp.dob }}</td>
          <td>{{ emp.country }}</td>
          <td>{{ emp.city }}</td>
          <td>
            <a href="/update/{{ emp.id }}/">
                <button class="btn btn-primary">Edit</button>
            </a>
            &nbsp; &nbsp;
            <a href="/delete/{{ emp.id }}/">
                <button class="btn btn-danger">Delete</button>
            </a>
        </td>
        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
